body {
  background-color: #eee;
}

header {
  display: flex;
  margin: 0px;
}

nav {
  width: 100%;
  background-color: black;
}

nav ul {
  display: flex;
  list-style: none;
  justify-content: flex-end;
}

nav ul li {
  margin: 0px 15px;
  align-self: flex-end;
  margin-top: 3px;
}

a {
  text-decoration: none;
  color: white;
  padding: 10px;
}

a:hover {
  background-color: #428881;
}

#header-img {
  height: 8vh;
  width: 8vh;
}

form {
  display: flex;
  flex-wrap: wrap;
  width: 40%;
  margin: 3% auto;
  border: solid;
  justify-content: center;
}

form h3 {
  flex: 0 0 100%;
  text-align: center;
}

#email {
  flex: 0 0 60%;
  height: 20px;
  border-radius: 8px;
}

#submit {
  flex: 0 0 60%;
  margin: 3% 0;
  border-radius: 8px;
  padding: 3px;
}

main {
  text-align: justify;
}

main div {
  width: 70%;
  margin: 2% auto;
  display: grid;
  grid-template-columns: 10% 80%;
}

i {
  font-size: 50px;
  flex: 0 0 100%;
  align-self: center;
}

@media (max-width: 830px) {
  main div {
    display: grid;
    display: flex;
    flex-wrap: wrap;
  }

  i {
    flex: 0 0 100%;
  }

  main div p {
    flex: 0 0 100%;
    margin-top: -2px;
  }
}

#video {
  margin: auto auto;
  width: 70% !important;
}

.cards {
  width: 80%;
  height: 430px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 50px auto;
}

.cards .card {
  width: 26%;
  height: 430px;
  border-radius: 8px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  margin: 20px;
  transition: all 0.25s;
}

.cards .card:hover {
  transform: translateY(-15px);
  box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}

.card img {
  width: 100%;
  height: 200px;
}

.card p {
  font-weight: bold;
  margin-left: 10px;
}

.card h4 {
  margin-left: 10px;
}

.card a {
  width: 80%;
  color: black;
  margin: 0 auto;
  background-color: lightblue;
  display: block;
  border-radius: 8px;
  text-align: center;
  font-weight: bold;
}

@media (max-width: 886px) {
  .cards .card {
    width: 40%;
  }
}

@media (max-width: 500px) {
  form,
  main div,
  #video {
    width: 90% !important;
  }

  .cards,
  .cards .card {
    width: 70% !important;
  }
}
